<header>
  <a class="skip-to-content" href="#main">
    {{- meta.languages[locale].skip -}}
  </a>
  <div class="container">
    <div class="site-title">
      <a href="/{{ locale }}/">{{ meta.languages[locale].title }}</a>
    </div>
    <div class="menu main-menu">
      <nav aria-label="{{ meta.languages[locale].mainmenu }}">
        <ul>
        {%- set navigation = locale + "Frontpage" %}
        {%- set mainMenu = collections.all | eleventyNavigation(navigation) %}
        {%- for entry in mainMenu %}
          {%- set menuEntryClass = '' %}
          {%- if entry.url == page.url %}
            {%- set menuEntryClass = ' class="current" aria-current="page"' %}
          {%- elif eleventyNavigation.parent == entry.key %}
            {%- set menuEntryClass = ' class="parent"' %}
          {%- endif %}
          <li{{ menuEntryClass | safe }}>
            <a href="{{ entry.url | url }}">
              {{- entry.eleventyNavigation.title or entry.title -}}
            </a>
          </li>
        {%- endfor %}
        </ul>
      </nav>
    </div>
    <div class="menu helper-menu">
      <nav aria-label="{{ meta.languages[locale].language }}">
        <ul>
        {%- for language, item in meta.languages %}
          {%- set translatedUrl = "/" + language + "/" %}
          {%- set activeClass = "current" if language == locale else "" %}

          {%- for item in collections.all %}
            {%- if item.data.key == key and item.data.locale == language %}
              {%- set translatedUrl = item.url %}
            {%- endif %}
          {%- endfor %}

          <li>
            <a
              href="{{ translatedUrl }}"
              {%- if activeClass %}
                class="{{ activeClass }}"
                aria-current="true"
              {% endif %}>
              {{- language | upper -}}
            </a>
          </li>
        {%- endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
