<header>
  <a class="skip-to-content" href="#main">
    {{- languages[page.lang].skip -}}
  </a>
  <div class="container">
    <div class="site-title">
      <a href="{{ "/" | locale_url }}">{{ languages[page.lang].title }}</a>
    </div>
    <div class="menu main-menu">
      <nav aria-label="{{ languages[page.lang].mainmenu }}">
        <ul>
        {%- set navigation = page.lang + "Frontpage" %}
        {%- set mainMenu = collections.all | eleventyNavigation(navigation) %}
        {%- for entry in mainMenu %}
          {%- set menuEntryClass = '' %}
          {%- if entry.url == page.url %}
            {%- set menuEntryClass = ' class="current" aria-current="page"' %}
          {%- elif eleventyNavigation.parent == entry.key %}
            {%- set menuEntryClass = ' class="parent"' %}
          {%- endif %}
          <li{{ menuEntryClass | safe }}>
            <a href="{{ entry.url | url }}">
              {{- entry.eleventyNavigation.title or entry.title -}}
            </a>
          </li>
        {%- endfor %}
        </ul>
      </nav>
    </div>
    <div class="menu helper-menu">
      <nav aria-label="{{ languages[page.lang].language }}">
        <ul>
        {% for link in page.url | locale_links %}
          <li>
            <a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">
              {{ link.label }}
            </a>
          </li>
        {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
