@use "variables" as *;

.skip-to-content {
  left: 50%;
  position: absolute;
  background: var(--viewport-background);
  padding: var(--spacing--smaller);
  transform: translate(-50%, -100%);
  transition: transform var(--duration) var(--timing);
  &:focus {
    transform: translate(-50%, 0%);
    outline-offset: calc( var(--outline-width) * -1 );
  }
}
.visually-hidden {
  border-width: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
