@use "variables" as *;

@mixin light {
  --viewport-background: #{$viewport-background-color--light};
  --font-color: #{$font-color--light};
  --action-color: #{$action-color--light};
  --action-color-hover: #{$action-color-hover--light};
}
@mixin dark {
  --viewport-background: #{$viewport-background-color--dark};
  --font-color: #{$font-color--dark};
  --action-color: #{$action-color--dark};
  --action-color-hover: #{$action-color-hover--dark};
}

:root {
  @include light;
}
[data-theme="dark"] {
  @include dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark;
  }
  [data-theme="light"] {
    @include light;
  }
}

html {
  color: var(--font-color);
  background-color: var(--viewport-background);

  a {
    color: var(--action-color);
    transition: color var(--duration) var(--timing);
    &:focus {
      outline: var(--outline-width) var(--outline-style) var(--outline-color);
    }
    &:hover {
      color: var(--action-color-hover);
    }
  }
}
