// Light theme
$font-color--light: #322e3c;
$action-color--light: #9d65a7;
$action-color-hover--light: mix(rgb(0, 0, 0), #9d65a7, 10%);
$viewport-background-color--light: #ffffff;

// Dark theme
$font-color--dark: #e1dee2;
$action-color--dark: #ab79b5;
$action-color-hover--dark: mix(rgb(255, 255, 255), #ab79b5, 20%);
$viewport-background-color--dark: #202020;

:root {
  // Fonts
  --font-family--base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family--heading: Georgia, serif;

  // Animations
  --duration: 0.2s;
  --timing: ease;
}
