---
layout: frontpage.njk
title: Förstasida
eleventyNavigation:
  title: Förstasida
---
<h1>{{ languages[lang].title }}</h1>
<p>{{ languages[lang].description | replace(".", "") }} med en <a href="/sv/inlagg/">exempellänk</a>.</p>
