---
layout: frontpage.njk
title: Förstasida
key: frontpage
eleventyNavigation:
  title: Förstasida
---
<h1>{{ meta.languages[locale].title }}</h1>
<p>{{ meta.languages[locale].description | replace(".", "") }} med en <a href="/sv/inlagg/">exempellänk</a>.</p>
