---
layout: frontpage.njk
title: Start
eleventyNavigation:
  title: Start
---
<h1>{{ languages[lang].title }}</h1>
<p>{{ languages[lang].description | replace(".", "") }} with an <a href="/en/posts/">example link</a>.</p>
