---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ languages[page.lang].title }}</title>
  <subtitle>{{ languages[page.lang].description }}</subtitle>
  <link href="{{ build.url }}/feed.xml" rel="self"/>
  <link href="{{ build.url }}/"/>
  <updated>{{ collections.all | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ build.url }}/</id>
  <author>
    <name>{{ languages[page.lang].title }}</name>
  </author>
  {%- for post in collections.posts[page.lang] %}
  {%- set absolutePostUrl %}
    {{- post.url | url | absoluteUrl(build.url) }}
  {%- endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">
      {{- post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) -}}
    </content>
  </entry>
  {%- endfor %}
</feed>
