---
layout: base
title: Redirecting to browser language
---
<script>
var availableLanguages = [
  {%- for language, item in meta.languages -%}
    "{{ language }}"
    {%- if not loop.last %},{% endif -%}
  {%- endfor -%}
];
var locale =
  [
    ...(window.navigator.languages || []),
    window.navigator.language,
    window.navigator.browserLanguage,
    window.navigator.userLanguage,
    window.navigator.systemLanguage
  ]
  .filter(Boolean)
  .map(language => language.substr(0, 2))
  .find(language => availableLanguages.includes(language)) || "{{ meta.language }}";
let redirUrl = "{{ '/' | url | absoluteUrl( build.url ) }}" + locale + "/";
window.location.replace(redirUrl);
</script>
