---
layout: base.njk
changefreq: never
eleventyComputed:
  title: "{{ languages[page.lang].language }}"
---
{% set js %}
  var availableLanguages = [
    {%- for language, item in languages -%}
      "{{ language }}"
      {%- if not loop.last %},{% endif -%}
    {%- endfor -%}
  ];
  var locale =
    [
      ...(window.navigator.languages || []),
      window.navigator.language,
      window.navigator.browserLanguage,
      window.navigator.userLanguage,
      window.navigator.systemLanguage
    ]
    .filter(Boolean)
    .map(language => language.substr(0, 2))
    .find(language => availableLanguages.includes(language)) || "{{ page.lang }}";
  let redirUrl = "{{ '/' | url | absoluteUrl( build.url ) }}" + locale + "/";
  window.location.replace(redirUrl);
{% endset %}
<script>
{%- if build.env == 'production' %}
  {{- js | jsMinify | safe }}
{%- else %}
  {{ js | safe }}
{%- endif %}
</script>
{%- for language, item in languages -%}
  {% if loop.first %}<ul>{% endif %}
    <li>
      <a href="{{ language | url | absoluteUrl( build.url ) }}">
        {{- item.label | capitalize -}}
      </a>
    </li>
  {% if loop.last %}</ul>{% endif %}
{%- endfor %}
